* {
  box-sizing: border-box;
}

body, html {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow-x: hidden;
  min-height: 100vh;
  /* If you want to change the site height you can remove overflow-y */
  /* pureSnow will automatically detect height of body tag */
  overflow-y: hidden;
  color: white;
  padding: 0;
  margin: 0;
  /* font-family: "Heebo", sans-serif; */
  height: 100%;
  width: 100%;
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(white, white); /* Workaround for Chromium's selective color inversion */
  border-radius: 50%;
  filter: drop-shadow(0 0 10px white);
}

main {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  padding-top: 100px;
  z-index: 1;
  /* background-image: 
    linear-gradient(rgba(165, 196, 211, 0.071), #29374365)
    url("snowimg/red-christmas-background-free-vector.jpg"); */
  background-size: cover;
  background-position: center;
}

main > .text {
  place-self: center;
  text-align: center;
  max-width: 50vw;
}

.stats {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 10;
  filter: saturate(0);
}

#app canvas {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  mix-blend-mode: overlay;
}

h1 {
  font-size: 6vw;
  font-weight: 100;
  font-family: 'Mountains of Christmas', cursive;
  margin: 0 auto 0;
}
h3 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dg.ac {
  z-index: 2!important;
}

audio
{
  display: none;
}
